body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav{
  padding: 0 2rem;
}
main{
  height: calc(100vh - 114px);
}
footer{
  padding: 0 !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}
.cards__item{
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.cards__text{
  border: 1px solid black;
  padding: 0.5rem;
}
.cards__title{
  font-weight: 700;
  margin: 0;
}
img{
  height: 430px;
  object-fit: cover;
  width: 100%;
}

span {
  display: block;
  margin: 0.5rem 0 0 0;
  width: 100%;
}